.btn-nuevo {
    aspect-ratio: 1;
    width: 100%;
    height: 50%;
    margin-top: 5%;
}

.btn.btn-nuevo i {
    font-size: 10cqw;
}

.btn-flotante {
    position: fixed;
    right: 40px;
    bottom: 40px;
    border-radius: 100%;
    width: 5rem;
    aspect-ratio: 1;
    font-size: 2rem;
    z-index: 1000;
}