<div class="mb-4 ms-4 me-4 position-relative">
    <button data-bs-toggle="modal" data-bs-target="#modalNueva"
        class="btn btn-success btn-flotante d-flex justify-content-center align-items-center">
        <i class="fa-regular fa-square-plus"></i>
    </button>
    <div class="p-5">
        <div class="row">
            @for (actividad of actividadesSecundarias; track actividad.id) {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <app-act-sec (salidaModificarActividad)="recibirActividadModificar($event)"
                    (salidaIdActividad)="recibirIdActividad($event)"  (salidaVerContactos)="recibirVerContacto($event)"
                    class="w-100" [actividad]="actividad"></app-act-sec>
                </div>
                }
                <button data-bs-toggle="modal" data-bs-target="#modalNueva" class="btn-nuevo btn btn-outline-secondary col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-4">
                    <i class="fa-regular fa-square-plus"></i>
                </button>
        </div>
    </div>
</div>

<!-- Modales -->
<div class="modal fade" id="modalModificar" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Modificar actividad</h5>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Cerrar"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formularioModificar">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre">
            </div>
            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="fecha" formControlName="fecha">
            </div>
            <div class="mb-3">
                <label for="localizacion" class="form-label">Localización</label>
                <input type="text" class="form-control" id="localizacion" formControlName="localizacion">
            </div>
            <div class="mb-3">
                <label for="frecuencia" class="form-label">Frecuencia</label>
                <input type="text" class="form-control" id="frecuencia" formControlName="frecuencia">
            </div>
            <div class="mb-3">
                <label for="banda" class="form-label">Banda</label>
                <input type="text" class="form-control" id="banda" formControlName="banda">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="completada" formControlName="completada">        
                <label for="completada" class="form-check-label">Completada</label>
            </div>
        </form>
        <p-messages [value]="mensajeModificado" [closable]="false"></p-messages>
      </div>
      <div class="modal-footer">
        <button (click) ="guardarModificacion()" type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
 </div>
</div>

<div class="modal face" id="modalBorrar" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Borrar actividad</h5>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Cerrar"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea borrar esta actividad?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger">Borrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNueva" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Crear nueva actividad</h5>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Cerrar"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formularioNueva">
                    <div class="custom-file form-row form-group">
                        <input (change)="imagen($event)" type="file" class="custom-file-input" id="validatedCustomFile"
                            required>
                        <label class="custom-file-label" for="validatedCustomFile">
                            Selecciona una imagen .png
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" formControlName="nombre">
                    </div>
                    <div class="row">
                        <div class="input-group mb-3 col d-flex flex-column">
                            <label for="modalidad" class="form-label">Modalidad</label>
                            <select id="modalidad" formControlName="id_modalidad" [value]="0">
                                <option value="0">Seleccione una modalidad</option>
                                <option value="1">Genérica</option>
                                <option value="2">Puntos</option>
                                <option value="3">Letras</option>
                            </select>
                        </div>
                        <div class="input-group mb-3 col d-flex flex-column">
                            <label for="modo" class="form-label">Modo</label>
                            <select id="modo" formControlName="id_modo" [value]="0">
                                <option value="0">Seleccione un modo</option>
                                <option value="1">Fonía</option>
                                <option value="2">Telegrafía</option>
                                <option value="3">Modos digitales</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="fecha" formControlName="fecha">
                    </div>
                    <div class="mb-3">
                        <label for="localizacion" class="form-label">Localización</label>
                        <input type="text" class="form-control" id="localizacion" formControlName="localizacion">
                    </div>
                    <div class="mb-3">
                        <label for="frecuencia" class="form-label">Frecuencia</label>
                        <input type="text" class="form-control" id="frecuencia" formControlName="frecuencia">
                    </div>
                    <div class="mb-3">
                        <label for="banda" class="form-label">Banda</label>
                        <input type="text" class="form-control" id="banda" formControlName="banda">
                    </div>
                </form>
                <p-messages [value]="mensajeCreado" [closable]="false"></p-messages>
            </div>
            <div class="modal-footer">
                <button (click)="crearNuevaActividad()" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSubirCsv" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <app-subir-csv></app-subir-csv>
</div>
@if (actividadSecundaria) {

    <!-- Modal -->
    <div class="modal fade" id="contactosModal" tabindex="-1" aria-labelledby="contactosModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="contactosModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="contactosModal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-contactos [secundaria]="this.actividadSecundaria!"></app-contactos>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
          </div>
        </div>
      </div>
    </div>
  }