<div class="container" style="padding: 40px;">

    <div class="d-flex justify-content-center mt-4 mb-4 ">
        <img class="card-img-top" src="../../../assets/registrar.png" alt="Imagen de usuarios" style="width: 30%;">
    </div>

    <div class="card shadow " style="background-color: #dd5b4dbc; padding: 50px 50px;">
        <div class="row" style="color:#ffd4aa ;">
            <p> Selecciona un aficionado para registrar su contacto:</p>
            <select name="usuario" [(ngModel)]="contactosRegistrado.id_usuario"
                class="form-control form-select-lg mb-3 rounded-pill" style="background-color: #ffce9d;">
                <option value="" disabled selected>Selecciona el usuario</option>
                @for(usuario of usuarios; track usuario.id){
                <option value="{{usuario.id}}">{{usuario.id_examen}}</option>
                }
            </select>


            <div class="col" style="background-color: #C22741; padding: 20px 20px; border-radius: 20px; margin-right: 20px;  text-align: center;">
                <h4>Registrar un contacto en una actividad de un único contacto</h4>
                <p style="text-align: left;">Selecciona una actividad</p>
                <select name="actividad" [(ngModel)]="contactosRegistrado.id_secundaria"
                    (change)="modalidadActividad(contactosRegistrado.id_secundaria)"
                    class="form-control form-select-lg mb-3 rounded-pill" style="background-color: #ffce9d;">
                    <option value="" disabled selected>Selecciona la actividad</option>
                    @for(actividadUnico of actividadesUnico; track actividadUnico.id){
                    <option value="{{actividadUnico.id}}">{{actividadUnico.nombre}}</option>
                    }
                </select>
                <p class="mb-4 mt-4 text-sm"
                style=" border: 2px solid #dd5b4d; border-radius: 10px; text-align: left; padding: 0px 10px;"> Su modalidad es: {{modalidad}}</p>
                <button class="btn btn-primary" (click)="registrarContacto()">Registrar Contacto</button>
            </div>

            <div class="col" style="background-color: #C22741;  padding: 20px 20px; border-radius: 20px; text-align: center;">
                <h4>Registrar un contacto en una actividad de varios contactos</h4>
                <p style="text-align: left;">Selecciona un concurso</p>
                <select name="concurso" [(ngModel)]="concurso.id"
                    (change)="solucionConcurso(concurso.id); actividadesVariosContactos(concurso.id); premiosUsuarioConcurso(contactosRegistrado.id_usuario,concurso.id)"
                    class="form-control form-select-lg mb-3 rounded-pill" style="background-color: #ffce9d;">
                    <option value="" disabled selected>Selecciona el concurso</option>
                    @for(concurso of concursos; track concurso.id){
                    <option value="{{concurso.id}}">{{concurso.nombre}}</option>
                    }
                </select>
                <p class="mb-4 mt-4 text-sm"
                style=" border: 2px solid #ffb062; border-radius: 10px; text-align: left; padding: 0px 10px;">Su solución es: {{solucion.solucion}}</p>
                <p style="text-align: left;">Selecciona una actividad</p>
                <select name="actividad" [(ngModel)]="contactosRegistrado.id_secundaria"
                    (change)="premioActividad(actividadVarios.id)"
                    class="form-control form-select-lg mb-3 rounded-pill" style="background-color: #ffce9d;">
                    <option value="" disabled selected>Selecciona la actividad</option>
                    @for(actividadVarios of actividadesVarios; track actividadVarios.id){
                    <option value="{{actividadVarios.id}}">{{actividadVarios.nombre}}</option>
                    }
                </select>
                <p class="mb-4 mt-4 text-sm"
                style=" border: 2px solid #ffb062; border-radius: 10px; text-align: left; padding: 0px 10px;">Premio de la actividad: {{premio.premio}}</p>
                <p class="mb-4 mt-4 text-sm"
                style=" border: 2px solid #ffd6ad; border-radius: 10px; text-align: left; padding: 0px 10px;">El aficionado lleva los siguientes premios: {{premiosTotales}}</p>
                <button class="btn btn-primary" (click)="registrarContacto()">Registrar Contacto</button>
            </div>


        </div>

    </div>
    <p-messages [(value)]="mensaje" class="messages-top-right" [enableService]="false"
    [closable]="true"></p-messages>

    <div class="d-flex justify-content-center mt-4 mb-4 ">
        <img class="card-img-top" src="../../../assets/logros.png" alt="Imagen de usuarios" style="width: 30%;">
    </div>

    <div class="table-responsive mt-4">
        <table class="table table-striped align-middle mb-0 text-center">
            <thead class="text-center bg-light">
                <tr>
                    <th>Nombre</th>
                    <th>Indicativo</th>
                    <th>Email</th>
                    <th>Actividades y sus premios</th>

                </tr>
            </thead>
            <tbody class="text-center bg-light">
                @for(contactoDetalle of contactoDetalles; track contactoDetalle.id) {
                <tr>
                    <td>{{contactoDetalle.nombre | titlecase }}</td>
                    <td>{{contactoDetalle.id_examen}}</td>
                    <td>{{contactoDetalle.email}}</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>Actividad</th>
                                    <th>Premio</th>
                                </tr>
                            </thead>
                            <tbody>

                                @for(usuario_secundaria of contactoDetalle.usuario_secundarias; track
                                usuario_secundaria.id) {
                                <tr>
                                    <td>{{usuario_secundaria.act_secundaria.nombre}}</td>
                                    <td>{{usuario_secundaria.premio || 'Diploma directo'}}</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>