
<h1 class="text-center mb-4 mt-4">Perfil</h1>
<section class="d-flex align-items-center justify-content-center flex-column p-1">
  @if (!perfil) {
    <p-message severity="error" text="No se puede obtener el usuario."></p-message>
  } @else if (editandoPerfil) {
  <button class="btn btn-primary btn-lg mb-4 " (click)="editandoPerfil = false">Volver</button>
  <app-editar-perfil [perfil]="perfil"></app-editar-perfil>
  } @else if (editandoPassword) {
    <button class="btn btn-primary btn-lg mb-4" (click)="editandoPassword = false">Volver</button>
    <app-editar-password></app-editar-password>
  } @else if (mirandoProgreso) {
    <button class="btn btn-primary btn-lg " (click)="editandoPassword = false">Volver</button>
    <app-progreso></app-progreso>
  } @else {
    <p-card class="w-50 d-flex flex-column justify-content-center align-items-center mb-4">
      <div class="d-flex justify-content-center mb-4">
        <img class="imagen-perfil rounded-circle" src="{{this.perfil!!.usuario.url_foto}}">
    </div>

      <div class="d-flex flex-column align-items-center" >
        <h3 style="color: #ffd4aa; font-size: 40px;">{{this.perfil!!.usuario.id_examen}}</h3>
        <span style="color: #ffd4aa; font-size: 20px;">
          {{this.perfil!!.usuario.nombre }}
          {{this.perfil!.usuario.apellido_uno}}
          {{this.perfil!.usuario.apellido_dos}}
        </span>
        <span class="fs-3" style="font-size: 20px; color: #ff6f5f;">{{this.perfil!!.usuario.email}}</span>
        <div></div>
      </div>
    </p-card>

    <div class="d-flex mt-3">
      <button class="btn btn-primary  mr-3" (click)="mostrarEditarPerfil()">Editar perfil</button>
      <button class="btn btn-primary " (click)="mostrarEditarContrasena()">Cambiar contraseña</button>
  </div>

  

    <button class="mt-3 btn btn-primary btn-lg" (click)="mostrarActividades()">Mostrar actividades</button>
  }
</section>

<app-actividades-aficionado></app-actividades-aficionado>
