<div class="container">
    <div class="d-flex justify-content-center align-items-center mt-4">
        <img class="mt-4 mb-4" src="../../../assets/Logo.png" alt="Imagen de logo" style="width: 50%;">
    </div>

    <!--INTRODUCCIÓN-->

    <div class="card  shadow mt-4 mb-4" style=" background-color: #181a1dbe;">

        <div class="card-body flex-column d-flex align-items-center mb-4 mt-4 ">

            <h2 class="card-title text-center" style="color: #ffd87e;  font-size: 40px;">Bienvenidos a Radioaficionados
                CB ALARCOS</h2>
            <p class="card-text" style="text-align: justify; font-size: 20px; color: #fff5e6 ;">Esta asociación nace en
                Ciudad Real de la
                mano de una
                serie de amigos para apoyar y promocionar todo lo referente con el mundo de la radioaficción y en
                especial a la banda de CB.</p>

        </div>
    </div>

    <!--NOTICIAS-->

    @if (hayRegistros()) {
    <div class="d-flex justify-content-center mb-4 mt-4 ">
        <img class="card-img-top" src="../../../assets/noticias.png" alt="Imagen de noticia" style="width: 20%; ">
    </div>
    <div class="card shadow mb-4" style=" background-color: #181a1d68;">
        <div class="card-header text-center" style=" background-color: #ffb062;">
            <h2 style="color: #fff2d4;">RADIO NOTICIAS</h2>
        </div>
        <ul class="list-group list-group-flush">
            @for(noticia of noticias; track noticia.id) {
            <li class="list-group-item" style=" background-color: #181a1d68;">
                <p style="font-size: 25px; color: #40a0ff; ">{{noticia.fecha | date:'shortDate'}}</p>
                <h2 style="font-size: 30px; color: #ffd87e;">{{noticia.nombre | titlecase}}</h2>
                <p style="font-size: 20px; color: #fff5e6; ">{{noticia.descripcion | titlecase}}</p>
                @if (esAdmin()) {
                <button class="btn btn-outline-danger mr-2" (click)="eliminarNoticia(noticia.id)"><i
                        class="fas fa-trash"></i></button>
                <button class="btn btn-outline-primary mr-2" (click)="seleccionarNoticia(noticia)"><i
                        class="fa-solid fa-hand-pointer"></i></button>
                }
            </li>
            }
        </ul>
        <p-messages [(value)]="mensajeEliminado" [enableService]="false" [closable]="true"></p-messages>
        <p-messages [(value)]="mensajeModificado" [enableService]="false" [closable]="true"></p-messages>

        <div class="card-footer text-muted" style=" background-color: #ffb062;">
            <h6 style="color: aliceblue; text-align: center;">Asociación de Radioaficionados CB ALARCOS</h6>
        </div>

    </div>
    } @else {
    <p class="alert alert-warning">No hay noticias que mostrar.</p>
    }

    <!--PANEL DEL ADMINISTRADOR PARA CREAR O MODIFICAR NOTICIAS-->

    @if (esAdmin()){
    <div class="container mb-3 mt-3">
        <div class="card shadow" style=" background-color: #dd5b4dbc;">
            <div class="card-header text-center" style="background-color: #ffb062;">
                <h2 style="color: #fff7e6;">CREA Y MODIFICA NOTICIAS</h2>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-info " (click)="deseleccionarNoticia()"><i
                            class="fas fa-times-circle"></i></button>
                </div>
                <p style="font-size: 20px; color: #fff5e6;">
                    Título *:<input type="text" [(ngModel)]="noticia.nombre" class="form-control" />
                </p>
                <p style="font-size: 20px; color: #fff5e6;">
                    Fecha :<input type="date" [(ngModel)]="noticia.fecha" class="form-control" />
                </p>
                <p style="font-size: 20px; color: #fff5e6;">
                    Descripción *:<input type="text" [(ngModel)]="noticia.descripcion" class="form-control" />
                </p>
                <p>
                    <button class="btn btn-success mr-2" [disabled]="noticiaSeleccionada" (click)="crearNoticia()"><i
                            class="fa-solid fa-circle-check"></i></button>
                    <button class="btn btn-warning  mr-3" (click)="modificarNoticia()"><i
                            class="fas fa-edit"></i></button>

                </p>

                <p-messages [(value)]="mensaje" [enableService]="false" [closable]="true"></p-messages>

            </div>

            <div class="card-footer text-muted" style="background-color: #ffb062;">
                <h6 style="color: aliceblue; text-align: center;">Asociación de Radioaficionados</h6>

            </div>

        </div>
    </div>
    }

    <!-- ADMINISTRADORES -->
    <div>
        <h1 class="text-center">NUESTROS ADMINISTRADORES</h1>
        <div class="row">
            @for(adminOper of adminOpers; track adminOper.id) {
            <div class="col-md-4">
                <div class="card shadow mb-4" style="background-color: #181a1d68;">
                    <div class="card-header text-center" style="background-color: #ffb062;">
                        <h2 style="color: #fff2d4;">ADMINISTRADOR</h2>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color: #181a1d68;">
                            <div class="d-flex align-items-center justify-content-center">
                                <img src="{{adminOper.url_foto}}" class="rounded-circle"
                                    style="width: 100px; height: 100px">
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">{{adminOper.nombre | titlecase }} {{adminOper.apellido_uno |
                                        titlecase
                                        }}
                                        {{adminOper.apellido_dos | titlecase }}</p>
                                    <p class="text-muted mb-0">{{adminOper.email}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            }
        </div>
    </div>

    <!-- OPERADORES -->
    <div>
        <h1 class="text-center">NUESTROS OPERADORES</h1>
        <div class="row">
            @for(adminOper of adminOpers; track adminOper.id) {
            <div class="col-md-4">
                <div class="card shadow mb-4" style="background-color: #181a1d68;">
                    <div class="card-header text-center" style="background-color: #ffb062;">
                        <h2 style="color: #fff2d4;">OPERADOR</h2>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color: #181a1d68;">
                            <div class="d-flex align-items-center justify-content-center">
                                <img src="{{adminOper.url_foto}}" class="rounded-circle" style="width: 100px; height: 100px">
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">{{adminOper.nombre | titlecase }} {{adminOper.apellido_uno | titlecase
                                        }}
                                        {{adminOper.apellido_dos | titlecase }}</p>
                                    <p class="text-muted mb-0">{{adminOper.email}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            }
        </div>
    </div>

</div>

<p-toast position="top-right" key="mensaje"></p-toast>