<div class="container" style="width: 90%;">

    <select name="tipoActividad" id="tipoConsulta" [(ngModel)]="tipoActividad" (change)="cargarActividades()"
        class="form-select form-select-lg mb-3 rounded-pill" style="height: 35px;  background-color: #ffce9d;">
        <option value="" disabled selected>Selecciona las actividades que desees ver</option>
        <option value="todas" style="text-align: center;">Actividades</option>
        <option value="terminadas" style="text-align: center;">Actividades finalizadas</option>
        <option value="pendientes" style="text-align: center;">Actividades activos</option>
    </select>

    @if (hayRegistros()) {

    <!--BUSCADOR POR NOMBRE DE LA ACTIVIDAD -->

    <div class="input-group d-flex justify-content-center mt-4">
        <div class="form-outline" data-mdb-input-init>
            <input type="text" placeholder="Buscar por nombre" [(ngModel)]="nombreActividad" class="form-control" />
        </div>
        <button (click)="mostrarActividadNombre(nombreActividad)" class="btn btn-primary mb-3">Buscar
            <i class="fas fa-search"></i>
        </button>
    </div>

    <!--TODAS LAS ACTIVIDADES (TERMINADAS Y PENDIENTES) -->

    <div class="card shadow mr-3" style="background-color: #dd5b4dbc;">
        @if (tipoActividad === 'todas') {
        <div class="card-header text-center" style="background-color: #ffb062;">
            <h2 class="mt-3" style="color: #fff5e6;">ACTIVIDADES</h2>
        </div>
        <div class="card-body mt-4">
            <div class="row d-flex justify-content-center">
                @for(actividad of actividades; track actividad.id) {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card card-blog card-plain d-flex align-items-center justify-content-center"
                        style="background-color: #ffd4aa;">
                        <div class="position-relative w-100">
                            <a class="d-inline shadow-xl border-radius-xl" style="width: 100%; height: auto; ">
                                <img src="{{actividad.url_foto}}" alt="Fotografía de {{actividad.nombre}}"
                                    class="img-fluid shadow border-radius-xl">
                            </a>
                        </div>
                        <div class="card-body px-1 pb-0 w-100">
                            <a href="javascript:;" class="text-center">
                                <h5 style="font-size: 30px; color: #dd5b4d;">
                                    {{actividad.nombre}}
                                </h5>
                                <h6>
                                    {{actividad.fecha}}
                                </h6>
                            </a>

                            <p class="mb-4 text-sm text-center">
                                Localización: {{actividad.localizacion}}
                            </p>

                            <p class="mb-4 text-sm text-center">
                                Frecuencia: {{actividad.frecuencia}}
                            </p>

                            <p class="mb-4 text-sm text-center">
                                Banda: {{actividad.banda}}
                            </p>

                            <p class="mb-4 text-sm text-center">
                                Modalidad: {{actividad.modalidad?.descripcion}}
                            </p>

                            <p class="mb-4 text-sm text-center">
                                Modo: {{actividad.modo?.nombre}}
                            </p>

                            <p class="mb-4 text-sm text-center">
                                Completada: {{actividad.completada ? 'Sí' : 'No'}}
                            </p>

                            <p class="mb-4 text-sm text-center">
                                @if (actividad.act_primarias && actividad.act_primarias.length > 0 &&
                                actividad.act_primarias[0].nombre){
                                Concurso: {{actividad.act_primarias[0].nombre}}
                                }
                            </p>



                            <button class="btn btn-warning" btn-lg data-bs-toggle="modal"
                                data-bs-target="#modalActividades" (click)=" verParticipantesActividad(actividad.id)"><i
                                    class="fas fa-edit"></i>Ver
                                participantes</button>

                            @if (esOper()) {
                            <div class="d-flex justify-content-center mt-2 mb-2">
                                <button class="btn btn-danger btn-lg mr-3 " (click)="eliminarActividad(actividad.id)"><i
                                        class="fas fa-trash"></i></button>
                                <button class="btn btn-warning" btn-lg data-bs-toggle="modal"
                                    data-bs-target="#modalNueva" (click)="seleccionarActividad(actividad)"><i
                                        class="fas fa-edit"></i></button>
                                <button class="btn btn-warning" (click)="terminarActividad(actividad.id)"><i
                                        class="fas fa-eraser"></i>Finalizar</button>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="card-footer text-muted" style=" background-color: #ffb062;">
            <h6 style="color: aliceblue; text-align: center;">Asociación de Radioaficionados CB ALARCOS</h6>
        </div>
        }
    </div>

    <!--TODAS LAS ACTIVIDADES FINALIZADAS -->

    <div class="card shadow mr-3" style="background-color: #dd5b4dbc;">
        @if (tipoActividad === 'terminadas') {
        <div class="card-header text-center" style="background-color: #ffb062;">
            <h2 class="mt-3" style="color: #fff5e6;">ACTIVIDADES FINALIZADAS</h2>
        </div>
        <div class="card-body mt-4">
            <div class="row d-flex justify-content-center">
                @for(actividad of actividades; track actividad.id) {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card card-blog card-plain d-flex align-items-center justify-content-center"
                        style="background-color: #ffd4aa;">
                        <div class="position-relative w-100">
                            <a class="d-inline shadow-xl border-radius-xl" style="width: 100%; height: auto; ">
                                <img src="{{actividad.url_foto}}" alt="Fotografía de {{actividad.nombre}}"
                                    class="img-fluid shadow border-radius-xl">
                            </a>
                        </div>
                        <div class="card-body px-1 pb-0 w-100">
                            <a href="javascript:;" class="text-center">
                                <h5 style="font-size: 30px; color: #dd5b4d;">
                                    {{actividad.nombre}}
                                </h5>
                                <h6>
                                    {{actividad.fecha}}
                                </h6>
                            </a>

                            <p class="mb-4 text-sm text-center">
                                Localización: {{actividad.localizacion}}
                            </p>

                            <p class="mb-4 text-sm text-center">
                                Frecuencia: {{actividad.frecuencia}}
                            </p>

                            <p class="mb-4 text-sm text-center">
                                Banda: {{actividad.banda}}
                            </p>

                            <p class="mb-4 text-sm text-center">
                                Modalidad: {{actividad.modalidad?.descripcion}}
                            </p>

                            <p class="mb-4 text-sm text-center">
                                Modo: {{actividad.modo?.nombre}}
                            </p>

                            <p class="mb-4 text-sm text-center">
                                Completada: {{actividad.completada ? 'Sí' : 'No'}}
                            </p>

                            <p class="mb-4 text-sm text-center">
                                @if (actividad.act_primarias && actividad.act_primarias.length > 0 &&
                                actividad.act_primarias[0].nombre){
                                Concurso: {{actividad.act_primarias[0].nombre}}
                                }
                            </p>



                            <button class="btn btn-warning" btn-lg data-bs-toggle="modal"
                                data-bs-target="#modalActividades" (click)=" verParticipantesActividad(actividad.id)"><i
                                    class="fas fa-edit"></i>Ver
                                participantes</button>

                            @if (esOper()) {
                            <div class="d-flex justify-content-center mt-2 mb-2">
                                <button class="btn btn-danger btn-lg mr-3 " (click)="eliminarActividad(actividad.id)"><i
                                        class="fas fa-trash"></i></button>
                                <button class="btn btn-warning" btn-lg data-bs-toggle="modal"
                                    data-bs-target="#modalNueva" (click)="seleccionarActividad(actividad)"><i
                                        class="fas fa-edit"></i></button>
                                <button class="btn btn-warning" (click)="terminarActividad(actividad.id)"><i
                                        class="fas fa-eraser"></i>Finalizar</button>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="card-footer text-muted" style=" background-color: #ffb062;">
            <h6 style="color: aliceblue; text-align: center;">Asociación de Radioaficionados CB ALARCOS</h6>
        </div>
        }
    </div>

    <!--TODAS LAS ACTIVIDADES PENDIENTES -->

    <div class="card shadow mr-3" style="background-color: #dd5b4dbc;">
        @if (tipoActividad === 'pendientes') {
        <div class="card-header text-center" style="background-color: #ffb062;">
            <h2 class="mt-3" style="color: #fff5e6;">CONCURSOS PENDIENTES</h2>
        </div>
        <div class="card-body mt-4">
            <div class="row d-flex justify-content-center">
                @for(actividad of actividades; track actividad.id) {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card card-blog card-plain d-flex align-items-center justify-content-center"
                        style="background-color: #ffd4aa;">
                        <div class="position-relative w-100">
                            <a class="d-inline shadow-xl border-radius-xl" style="width: 100%; height: auto; ">
                                <img src="{{actividad.url_foto}}" alt="Fotografía de {{actividad.nombre}}"
                                    class="img-fluid shadow border-radius-xl">
                            </a>
                        </div>
                        <div class="card-body px-1 pb-0 w-100">
                            <a href="javascript:;" class="text-center">
                                <h5 style="font-size: 30px; color: #dd5b4d;">
                                    {{actividad.nombre}}
                                </h5>
                                <h6>
                                    {{actividad.fecha}}
                                </h6>
                            </a>

                            <p class="mb-4 text-sm text-center">
                                Localización: {{actividad.localizacion}}
                            </p>

                            <p class="mb-4 text-sm text-center">
                                Frecuencia: {{actividad.frecuencia}}
                            </p>

                            <p class="mb-4 text-sm text-center">
                                Banda: {{actividad.banda}}
                            </p>
<!--
                            <p class="mb-4 text-sm text-center">
                                Modalidad: {{actividad.modalidad.descripcion}}
                            </p>

                            <p class="mb-4 text-sm text-center">
                                Modo: {{actividad.modo.nombre}}
                            </p>
                        -->

                            <p class="mb-4 text-sm text-center">
                                Completada: {{actividad.completada ? 'Sí' : 'No'}}
                            </p>

                            <p class="mb-4 text-sm text-center">
                                @if (actividad.act_primarias && actividad.act_primarias.length > 0 &&
                                actividad.act_primarias[0].nombre){
                                Concurso: {{actividad.act_primarias[0].nombre}}
                                }
                            </p>



                            <button class="btn btn-warning" btn-lg data-bs-toggle="modal"
                                data-bs-target="#modalActividades" (click)=" verParticipantesActividad(actividad.id)"><i
                                    class="fas fa-edit"></i>Ver
                                participantes</button>

                            @if (esOper()) {
                            <div class="d-flex justify-content-center mt-2 mb-2">
                                <button class="btn btn-danger btn-lg mr-3 " (click)="eliminarActividad(actividad.id)"><i
                                        class="fas fa-trash"></i></button>
                                <button class="btn btn-warning" btn-lg data-bs-toggle="modal"
                                    data-bs-target="#modalNueva" (click)="seleccionarActividad(actividad)"><i
                                        class="fas fa-edit"></i></button>
                                <button class="btn btn-warning" (click)="terminarActividad(actividad.id)"><i
                                        class="fas fa-eraser"></i>Finalizar</button>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>

        <div class="card-footer text-muted" style=" background-color: #ffb062;">
            <h6 style="color: #fff5e6; text-align: center;">Asociación de Radioaficionados CB ALARCOS</h6>
        </div>
        }
    </div>
    } @else {
    <p class="alert alert-warning">No hay actividades que mostrar.</p>
    }

    <!-- Modal para Crear o modificar Concursos -->

    @if (esOper()){

    <select name="tipoCrear" id="tipoConsulta" [(ngModel)]="tipoCrear" (change)="cargarCrear()"
        class="form-select form-select-lg mb-3 rounded-pill" style="height: 35px;  background-color: #ffce9d;">
        <option value="" disabled selected>Selecciona las actividades que desees ver</option>
        <option value="unico contacto" style="text-align: center;">Actividades de un unico contacto</option>
        <option value="varios contactos" style="text-align: center;">Actividades de varios contactos</option>

    </select>

    <div class="modal fade" id="modalNueva" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Crea y modifica las actividades</h5>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Cerrar"><i
                            class="fa-solid fa-xmark"></i></button>
                </div>
                @if (tipoCrear === 'unico contacto') {

                <!-- CREAR UNA ACTIVIDAD DE UN UNICO CONTACTO -->

                <div class="modal-body">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-info" (click)="deseleccionarActividad()"><i
                                class="fas fa-times-circle"></i></button>
                    </div>

                    <p>
                        Nombre *:<input type="text" [(ngModel)]="actividad.nombre" class="form-control" />
                    </p>
                    <p>
                        Localización *:<input type="text" [(ngModel)]="actividad.localizacion" class="form-control" />
                    </p>

                    <p>
                        Fecha *:<input type="date" [(ngModel)]="actividad.fecha" class="form-control" />
                    </p>

                    <p>
                        Frecuencia *:<input type="text" [(ngModel)]="actividad.frecuencia" class="form-control" />
                    </p>

                    <p>
                        Banda *:<input type="text" [(ngModel)]="actividad.banda" class="form-control" />
                    </p>

                    <p>
                        Foto *: <input type="file" (change)="imagen($event)" />
                    </p>
   <!--
                    <p>
                        Modalidad *:<select name="modalidad" [(ngModel)]="actividad.modalidad.id"
                            class="form-select form-select-lg mb-3 rounded-pill"
                            style="height: 35px;  background-color: #ffce9d;">
                            <option value="" disabled selected>Selecciona la modalidad</option>
                            @for(modalidad of modalidades; track modalidad.id){
                            <option value="{{modalidad.id}}">{{modalidad.descripcion}}</option>
                            }
                        </select>
                    </p>

                    <p>
                        Modo *:<select name="modo" [(ngModel)]="actividad.modo.id"
                            class="form-select form-select-lg mb-3 rounded-pill"
                            style="height: 35px;  background-color: #ffce9d;">
                            <option value="" disabled selected>Selecciona el modo</option>
                            @for(modo of modos; track modo.id){
                            <option value="{{modo.id}}">{{modo.nombre}}</option>
                            }
                        </select>
                    </p>-->

                </div>

                <div class="modal-footer">

                    <button class="btn btn-success mr-2" [disabled]="actividadSeleccionada"
                        (click)="altaActividadUnico()"><i class="fa-solid fa-circle-check"></i></button>
                    <button class="btn btn-warning mr-3" (click)="modificarActividad()"><i
                            class="fas fa-edit"></i></button>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
                }

                <!-- CREAR UNA ACTIVIDAD DE VARIOS CONTACTOS -->

                @if (tipoCrear === 'varios contactos') {

                <div class="modal-body">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-info" (click)="deseleccionarActividad()"><i
                                class="fas fa-times-circle"></i>
                        </button>
                    </div>

                    <p>
                        Nombre *:<input type="text" [(ngModel)]="actividad.nombre" class="form-control" />
                    </p>
                    <p>
                        Localización *:<input type="text" [(ngModel)]="actividad.localizacion" class="form-control" />
                    </p>

                    <p>
                        Fecha *:<input type="date" [(ngModel)]="actividad.fecha" class="form-control" />
                    </p>

                    <p>
                        Frecuencia *:<input type="text" [(ngModel)]="actividad.frecuencia" class="form-control" />
                    </p>

                    <p>
                        Banda *:<input type="text" [(ngModel)]="actividad.banda" class="form-control" />
                    </p>

                    <p>
                        Foto *: <input type="file" (change)="imagen($event)" />
                    </p>
                    <!--<p>
                        Modalidad *:<select name="modalidad" [(ngModel)]="actividad.modalidad?.id"
                            class="form-select form-select-lg mb-3 rounded-pill"
                            style="height: 35px;  background-color: #ffce9d;">
                            <option value="" disabled selected>Selecciona la modalidad</option>
                            @for(modalidad of modalidades; track modalidad.id){
                            <option value="{{modalidad.id}}">{{modalidad.descripcion}}</option>
                            }
                        </select>
                    </p>-->

                    <!--<p>
                        Modo *:<select name="modo" [(ngModel)]="actividad.modo?.id"
                            class="form-select form-select-lg mb-3 rounded-pill"
                            style="height: 35px;  background-color: #ffce9d;">
                            <option value="" disabled selected>Selecciona el modo</option>
                            @for(modo of modos; track modo.id){
                            <option value="{{modo.id}}">{{modo.nombre}}</option>
                            }
                        </select>
                    </p>-->
                    <p>
                        <!--Premio *:<input type="text" [(ngModel)]="actividad.act_primarias[0]?.PrincipalesSecundarias.premio" class="form-control" />-->
                    </p>

                    <p>
                        Concursos *:<select name="concurso" [(ngModel)]="concurso.id"
                            class="form-select form-select-lg mb-3 rounded-pill"
                            style="height: 35px;  background-color: #ffce9d;">
                            <option value="" disabled selected>Selecciona el concurso</option>
                            @for(concurso of concursos; track concurso.id){
                            <option value="{{concurso.id}}">{{concurso.nombre}}</option>
                            }
                        </select>
                    </p>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-success mr-2" [disabled]="actividadSeleccionada"
                        (click)="altaActividadVarios()"><i class="fa-solid fa-circle-check"></i></button>
                    <button class="btn btn-warning mr-3" (click)="modificarActividad()"><i
                            class="fas fa-edit"></i></button>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
                }
            </div>
        </div>
    </div>
    }

    <!-- Modal para Mostrar los participantes de una actividad -->

    <div class="modal fade" id="modalParticipantes" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Participantes de la actividad </h5>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Cerrar"><i
                            class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="modal-body">
                    @for(participante of participantes; track participante.id){
                    <td>{{participante.usuario_secundarias_secundarias.nombre}}</td>
                    <td><img src="{{participante.usuario_secundarias_secundarias.url_foto}}"
                            alt="Foto de {{participante.usuario_secundarias_secundarias.nombre}}"></td>
                    <td>{{participante.usuario_secundarias_secundarias.id_examen}}</td>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Foto</th>
                                <th>ID Examen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(participante of participantes; track participante.id){
                            <tr>
                                <td>{{participante.usuario_secundarias_secundarias.nombre}}</td>
                                <td><img src="{{participante.usuario_secundarias_secundarias.url_foto}}"
                                        alt="Foto de {{participante.usuario_secundarias_secundarias.nombre}}"></td>
                                <td>{{participante.usuario_secundarias_secundarias.id_examen}}</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <button data-bs-toggle="modal" data-bs-target="#modalNueva"
        class="btn btn-success btn-flotante d-flex justify-content-center align-items-center">
        <i class="fa-regular fa-square-plus"></i>
    </button>

    <button data-bs-toggle="modal" data-bs-target="#modalNueva"
        class="btn-nuevo btn btn-outline-secondary  d-flex justify-content-center col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-4"
        style="background-color: #F5DAAF;">
        <i class="fa-solid fa-plus"></i>
    </button>


    <p-messages [(value)]="mensajeEliminado" class="messages-top-right" [enableService]="false"
        [closable]="true"></p-messages>

    <p-messages [(value)]="mensaje" class="messages-top-right" [enableService]="false" [closable]="true"></p-messages>
    <p-messages [(value)]="mensajeModificado" class="messages-top-right" [enableService]="false"
        [closable]="true"></p-messages>
</div>