<p-toast></p-toast>

<section class="card p-4 mb-4" style="background-color: #00000052 ;">

  <div class="d-flex justify-content-center">
    <h2 style="color: #F5DAAF;">Cambiar contraseña</h2>
  </div>
  <form [formGroup]="formContrasena" class="mb-3" >
    <label class="form-label" style="color: #F5DAAF;">Contraseña</label>
    <input type="password" class="form-control mb-3" formControlName="contrasena">

    <label class="form-label" style="color: #F5DAAF;">Confirmar contraseña</label>
    <input type="password" class="form-control" formControlName="confContrasena">

    <button class="btn btn-primary mt-3" (click)="editarContrasena()">Cambiar contraseña</button>

    @if (contrasenaValida === false) {

    }
  </form>
</section>
