<section class="container">
  <div class="row justify-content-md-center">
    @for (principal of principales!; track principal.id) {
      <div class="card p-4 principal w-100">
        <div>
          @if (principal.url_foto) {
            <img src="{{principal.url_foto}}">
          } @else {
            <img src="https://picsum.photos/200">
          }
        </div>
        <div>
          <div class="mt-2 d-flex flex-column">
            <h5>Nombre</h5>
            {{principal.nombre}}
          </div>
          <div class="mt-2 d-flex flex-column">
            <h5>Descripción</h5>
            {{principal.descripcion}}
          </div>
          <div class="mt-2 d-flex flex-column">
            <h5>Solución</h5>
            {{principal.solucion}}
          </div>
        </div>
        <p-chip class="mt-2 mb-3">{{principal.act_secundarias[0].modalidad.descripcion}}</p-chip>
        <button type="button" (click)="this.principalSelec = principal" title="Ver contactos" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
          Ver contactos
        </button>
      </div>
    }
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Actividades</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p-card>
              <p-accordion [activeIndex]="0">
                @for (secundaria of principalSelec?.act_secundarias!; track secundaria.id) {
                  <p-accordionTab header="{{secundaria.nombre}}">
                    <div class="mt-2 d-flex flex-column">
                      <h5>Nombre</h5>
                      {{secundaria?.nombre}}
                    </div>
                    <div class="mt-2 d-flex flex-column">
                      <h5>Localización</h5>
                      {{secundaria?.localizacion}}
                    </div>
                    <div class="mt-2 d-flex flex-column">
                      <h5>Contactos</h5>
                      <div>
                        <table class="table">
                          <thead>
                          <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Premio</th>
                          </thead>
                          <tbody>
                          <tr>
                            @for (contacto of secundaria?.act_secundarias_usuario!; track contacto; let index = $index) {
                              <td>{{contacto.created_at | date}}</td>
                              <td>{{contacto.premio}}</td>
                            }
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </p-accordionTab>
                }
              </p-accordion>
            </p-card>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</section>
