<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="modalSecundarias" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSecundarias">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p-card>
          <div class="mt-2 d-flex flex-column">
            <h5>Nombre</h5>
            {{secundaria!.nombre}}
          </div>
          <div class="mt-2 d-flex flex-column">
            <h5>Localización</h5>
            {{secundaria!.localizacion}}
          </div>
          <div class="mt-2 d-flex flex-column">
            <h5>Contactos</h5>
            <div>
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Premio</th>
                </thead>
                <tbody>
                <tr>
                  @for (contacto of secundaria?.act_secundarias_usuario!; track contacto; let index = $index) {
                    <td>{{contacto.created_at | date}}</td>
                    <td>{{contacto.premio}}</td>
                  }
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </p-card>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
