<!--JuanNavarrete-->
<section>
  <div>
    <p-card [formGroup]="usuarioSecundariaForm">
      <p-dropdown [options]="usuarios" (onChange)="contactoFijado=false" formControlName="usuarioSelec" optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true" placeholder="Selecciona un usuario"></p-dropdown>
      <p-dropdown [options]="secundarias" (onChange)="contactoFijado=false" formControlName="secundariaSelec" optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true" placeholder="Selecciona una actividad">
        <ng-template let-secundaria>
          {{secundaria.nombre}}
          <p-tag severity="success" value="{{modalidad?.descripcion}}"></p-tag>
        </ng-template>

      </p-dropdown>
      <p-button (click)="fijarContacto()">Fijar contacto</p-button>
    </p-card>
  </div>
  <div>
    @if (!formularioInvalido && contactoFijado) {
        @if (this.modalidad?.descripcion === descModalidades.letras) {
          <p-dropdown [options]="letrasRestantes" [formControl]="premioLetra" [showClear]="true" placeholder="Elige una letra"></p-dropdown>
        } @else if (this.modalidad?.descripcion === descModalidades.puntos) {
          {{puntuacionRestante}}
          <p-inputNumber [(ngModel)]="puntuacionPremio"></p-inputNumber>
      }

      <p-button label="Crear" (onClick)="crearContacto()"></p-button>
    }
  </div>

  <p-messages [enableService]="true" [closable]="true"></p-messages>
</section>
