<p-panel>
    <div class="row justify-content-center">

        <div class="col-lg-4 text-center">
            <h5 class="mb-3" style="text-decoration: underline;">Enlaces de interés</h5>
        
            <a href="/inicio">Inicio</a><br>
            <a href="/concursos">Concursos</a><br>
            <a href="/actividades">Actividades</a>

        </div>

        <div class="col-lg-4 d-flex justify-content-center">
            <img class="icono logo" src="../../../assets/Logo.png" alt="Logo del club"
                style="width: 250px; height: 180px;">
        </div>



        <div class="col-lg-4 text-center">
            <h5 class="mb-3" style="text-decoration: underline;">Contacto</h5>
            <p><i class="fa-solid fa-envelope mr-4"></i>ejemplo.com</p>
            <p><i class="fa-solid fa-phone mr-4"></i> +34 123 456 789</p>
            <p><i class="fa-solid fa-location-dot mr-4"></i>Calle Ejemplo, 123, Ciudad, País</p>
            <p><i class="fa-brands fa-facebook mr-4"></i>ejemplo</p>
        </div>

    </div>

    <ng-template pTemplate="footer">
        <div class="footer-content d-flex justify-content-between align-items-start p-4">
            <div>
                <ul class="list-inline">
                    <li class="list-inline-item mr-4"><a href="/aviso-legal">Aviso Legal</a></li>
                    <li class="list-inline-item mr-4"><a href="/politica-privacidad">Política de Privacidad</a></li>
                    <li class="list-inline-item"><a href="/politica-cookies">Política de Cookies</a></li>
                </ul>
            </div>

            <p class="mb-0">&copy; {{anyo}} <a href="http://github.com/patrimj">Patricia Mota</a> </p>
        </div>
    </ng-template>

</p-panel>