<p-panel>
    <div class="redes-sociales">
        <a href=""><img src="../../../assets/icons/wordpress.svg" alt="Logo de WordPress"></a>
        <a href=""><img src="../../../assets/icons/tiktok.svg" alt="Logo de TikTok"></a>
        <a href=""><img src="../../../assets/icons/facebook.svg" alt="Logo de Facebook"></a>
        <a href=""><img src="../../../assets/icons/twitter.svg" alt="Logo de Twitter"></a>
        <a href=""><img src="../../../assets/icons/instagram.svg" alt="Logo de Instagram"></a>
    </div>

    <ng-template pTemplate="footer">
        <div class="footer-content">
            <p>&copy; {{anyo}} <a href="http://github.com/patrimj">Patricia Mota</a> </p>
        </div>
    </ng-template>
</p-panel>
